<!DOCTYPE html>
<html lang="en">
<head>
    <title>Guardar Album</title>
    
</head>
<body>

    <br>
    <br>

    <center><h1>Gestor de Album</h1></center>

    <form action="/guardar" method="POST">

        <input type="text" name="txtTitulo" placeholder="Escribe Titulo">
        <input type="text" name="txtArtista" placeholder="Escribe Artista">
        <input type="number" name="txtAnio" placeholder="Escribe Año">
        <button type="submit"> Guardar </button>
        
        
    </form>


</body>
</html>    