body {
    background-image: url("https://previews.123rf.com/images/yupiramos/yupiramos1805/yupiramos180524160/102077286-caduceo-medicina-s%C3%ADmbolo-de-la-salud-ilustraci%C3%B3n-vectorial.jpg");
    background-size: 100% 100%;
    height: 100vh;
    
}

#formulario5{
    margin: 0 auto;
    background-color: #000000;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
    height: 370px;
}

#Boton5{
    align-content: center;

}

#Label5{
    display: inline-block;
    width: 80px;
  }