body {
    background-image: url("https://previews.123rf.com/images/yupiramos/yupiramos1805/yupiramos180524160/102077286-caduceo-medicina-s%C3%ADmbolo-de-la-salud-ilustraci%C3%B3n-vectorial.jpg");
    background-size: 100% 100%;
    height: 100vh;
    
}

#formulario2{
    margin: 0 auto;
    background-color: #000000;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #666666;
    width: 500px;
    height: 400px;
}

#Boton2{
    align-content: center;

}

#Label2{
    display: inline-block;
    width: 80px;
  }


ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #2e2e2a;
    line-height: 40px;
    overflow: auto;
  }

li {
    width: 100px;
    text-align: center;
    float: left;
  }

a {
    text-decoration: none;
    display: block;
    color: #fff;
  }

a:hover {
    background: #f9a91a;
    color: #000;
  }